body {
    background-color: #CAB891;
    padding: 0px;
    margin: 0%;
}


.Header {
    background-color: #81231E;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

.Title {
    font-size: 36px;
    color: #F8E8D9;
    font-family: Metamorphous, Arial;
    font-weight: 400;
    line-height: normal;
}

.FotoIcon {
    width: 70px;
    border-radius: 90px;
    text-align: center;
}

.TextoIntroductorio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background: #DED19F;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: Kite one, Arial;
}


.PRpagText1 {
    text-align: center;
    margin: 5px;
    font-family: Kite one, Arial;
}

.Imgs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #70683B;
    background-size: 423px;
    border-color: #70683B;
    margin: 40px;
}

.imagenDeSeleccion {
    background-position: center center;
    image-rendering: auto;
    width: 225px;
    height: 350px; 
    margin-left: 40px;
    margin-right: 40px;
    padding: 40px;
    object-fit: cover;
}

.Botones {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: #F8E8D9 solid 4px;
    border-left: none;
    border-right: none;
    margin: 40px;
}

.botonDeCambio { 
    width: 280px;
    height: 50px;
    margin: 30px;
    background-color: #70683B;
    color: #F8E8D9;
    font-family: Metamorphous, Arial;
    border: none;
}

.Last {
    border: none;
    margin: 35px;
}

.PRpagSegText {
    text-align: center;
    font-family: Kite one, Arial;
}

.PRpagThirdText {
    border-bottom: solid #F8E8D9 2px;
    border-top: solid #F8E8D9 2px;
    background-color: #DED19F;
    padding: 5px;
    color: #81231E;
    text-align: center;
    font-family: Kite one, Arial;
}

.Footer {
    height: 150px;
    background-color: #81231E;
    color: #F8E8D9;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Metamorphous, arial;
    font-size: 28px;
}

#footerIMG {
    height: 75px;
    border-radius: 90%;
    position: relative;
    left: 20px;
}

.lineaRojaF {
    background-color: #81231E;
    color: #F8E8D9;
    text-align: center;
    font-size: 12px;
}

 